/* root rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-center {
    text-align: center;
}

html.body {
    height: 100%;

}

.hide {
    display: none;
}

.hide1 {
    display: none;
}

body {
    background-image: linear-gradient(135deg, rgb(85, 11, 145), rgb(195, 181, 199));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.watch {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;


    text-align: center;
    /* transform: scale(2); */
    font-size: 3rem;
    padding: 5px;

    border-radius: 5px;
    border-color: blue;
    border-style: solid;
    color: whitesmoke;

}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 60px;

}


#start-btn {
    font-size: 70px;
    color: bisque;
    background-color: blue;
    border-radius: 10px;
    border-style: none;
    padding: 5px;
    position: relative;
    top: 70%;
    left: 17%;



}

#start-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.623);
}

article {
    background-color: whitesmoke;
    border-radius: 20px;
    border-style: solid;
    border-color: blue;
    color: blue;
    font-size: 40px;
    padding: 10px;
    border-radius: 3px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    ;
}

.choices button {
    /* display: inline-block;
    justify-content: center; */

    color: whitesmoke;
    background-color: blue;
    border-style: none;
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    font-size: large;
}

.choices button:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(138, 129, 7);
}

.end {

    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: whitesmoke;


    background-color: rgb(36, 87, 199);
    padding: 10px;
    transform: scale(2.5);
}

h4 {
    font-size: x-large;
    padding-bottom: 10px;
}

.end button {
    background-color: red;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}


h2,
p {
    font-size: 40px;
    margin: 10px;
    color: rgb(240, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 10px double blue;
    padding: 10px;
}